.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.f-column {
  flex-direction: column;
}

.a-stretch {
  align-items: stretch;
}