$bg-color           : black;
$bg-dropdown-color  : #ffffff;
$primary-color      : #0085c8;
$primary-color-hover:#009ceb;
$facebook           : #4267B2;
$twitter            : #1DA1F2;
$linked-in          : #2867B2;
$printerest         : #E60023;
$google             : #dd4b39;

$price-text-color        : #d26e4b;
$primary-text-color      : black;
$primary-text-light-color: #333;
$secondary-text-color    : #999;
$secondary-text-light-color: #555;